<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8bedfba391.js" crossorigin="anonymous"></script>
        <script src="../javascript/login.js"></script>
        <title>Login to Trackgenix S.A.</title>
        <link rel="stylesheet" href="../styles/reset.css"/>
        <link rel="stylesheet" href="../styles/styles.css"/>
        <link rel="stylesheet" href="../styles/header.css"/>
        <link rel="stylesheet" href="../styles/login.css"/>
        <link rel="stylesheet" href="../styles/sidebar.css"/>
        <link rel="stylesheet" href="../styles/footer.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <div class="htitle">
                <a href="#" class="hamb"><i class="fa-solid fa-bars"></i></a>
                <h1>Trackgenix S.A.</h1>
            </div>
            <ul class="iconlist">
                <li class="icon"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-square"></i></a></li>
                <li class="icon"><a href="https://www.instagram.com/?hl=es-la"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="icon"><a href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="icon"><a href="https://ar.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li class="icon"><a href="https://github.com/"><i class="fa-brands fa-github"></i></a></li>
            </ul>   
        </header>
        <div class="conteiner">
            <aside>
                <input type="text" id="search" placeholder="Search">
                <p>Menu</p>
                <ul class="bar">
                    <li class="link"><a href="../views/index.html">Home</a></li>
                    <li class="link"><a href="../views/sign-up.html">Sign up</a></li>
                    <li class="link"><a href="../views/login.html">Log in</a></li>
                    <li class="link"><a href="#">Contact info.</a></li>
                </ul>
            </aside>
            <main>
                <section id="login">
                    <h2>Login</h2>
                    <form class="login-box">
                        <div class="input-conteiner">
                            <label>Email</label>
                            <input class="loginform" type="email" id="email" name="email" placeholder="Email">
                            <span class="wrong"></span>
                        </div>
                        <div class="input-conteiner">
                            <label>Password</label>
                            <input class="loginform" type="password" id="password" name="password" placeholder="Enter password">
                            <span class="wrongpass"></span>
                        </div>
                        <div class="button-box">
                            <button id="button-create" class="buttonlog" type="submit">Login</button>
                        </div>
                        <div class="checkbox">
                            <input class="check-input" type="checkbox" id="rememberme" name="rememberme">
                            <label>Remember me</label> 
                        </div>
                        <div class="link-forgot">
                            <a href="login.html">Forgot password?</a> 
                        </div>
                    </form>
                </section>
            </main>
        </div>
        <footer>
            <ul class="foot-l">
                <li class="foot-i"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-square"></i></a></li>
                <li class="foot-i"><a href="https://www.instagram.com/?hl=es-la"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="foot-i"><a href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="foot-i"><a href="https://ar.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li class="foot-i"><a href="https://github.com/"><i class="fa-brands fa-github"></i></a></li>
            </ul>
            <p>Copyright © 2022 Trackgenix. All rights reserved.</p>
        </footer>

    </body>
</html>