main{
    display: flex;
    flex-direction: column;
    padding: 35px;
}

#what-is{
    display: flex;
    flex-direction: column;
}

#what-is button{
    display: none;
}

@media screen and (min-width: 900px) {
    #what-is{
        flex-direction: row-reverse;
        border-bottom: 1px solid gray;
    }
    
    #what-is img{
        margin-bottom: 20px;
    }

    .what-info{
        flex-basis: 45%;
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .btn{
        border: 1px solid #FF5500;
        border-radius: 3px;
        padding: 10px 36px;
        color: #FF5500;
        background-color: #FFFFFF;
        text-decoration: none;
    }

    #what-is button{
        display: inline;
    }

}


#functionalities{
    display: flex;
    flex-direction: column;
}

#functionalities h2{
}

#fun-list{
}

.fun-item{
}

.fun-item h3{
}

.fun-item p{
}



#history img{
    width: 300px;
    height: 250px;
}

#history p{
}

.columns{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.box-list{
}

.c-item{
}

.c-item ol{
}

.c-item ol li{
    margin: 10px 0px;
}

.c-item ol li a{    
    text-decoration: none;
    color: black;
}
@media screen and (min-width: 768px) {
    .columns{
        flex-direction: row;
        justify-content: space-around;
    }

/* main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 38px;
    margin-right: 38px;
}

.btn {
    border: 1px solid #FF5500;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 36px;
    color: #FF5500;
    background-color: #FFFFFF;
    text-decoration: none;
}

#what-is img {
    width: 400px;
    height: 270px;
    margin-top: 30px;
}

#what-is p {
    line-height: 30px;
    margin-top: 20px;
}

#what-is a {
    display: none;
}

#why img {
    width: 400px;
    margin-top: 30px;
}

.us {
    margin-top: 20px;
    line-height: 30px;
}

#why a {
    margin-top: 10px;
}
#help h2 {
    margin-top: 30px;
}

.controls{
    border-radius: 3px;
    Width: 350px;
    Height: 37px;
    margin-top: 15px;
}

#help select {
    width: 360px;
    height: 37px;
    margin-top: 15px;
    border-radius: 3px;
    background-color: white
}

#help textarea {
    Width: 350px;
    Height: 97px;
    border-radius: 3px;
    margin-top: 15px;
}

#help .btn{
    margin-top: 15px;
    justify-items: space-between;
}

.btn-orange{
    color: #FFFFFF;
    background-color: #FF5500;
}

#history img{
    margin-top: 30px;
} */