main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.btn{
    border: 1px solid #FF5500;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 36px;
    color: #FF5500;
    background-color: #FFFFFF;
    text-decoration: none;
}

#what-is{
    border-bottom: 1px solid gray;
    height: 580px;
    
}

#what-is img{
    margin-top: 20px;
    width: 337px;
    height: 270px;
}

#what-is h2{
    margin-top: 20px;
    font-size: 30px;
}

#what-is p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
}

#what-is a{
}

#functionalities{
    height: 800px;
    border-bottom: 1px solid gray;
    text-align: left;
    justify-content: space-between;

}

#functionalities h2{
    font-size: 30px;
}

#fun-list{
    font-size: 70px;
}

.fun-item{
}

.fun-item h3{
    font-weight: 400;
    font-size: 25px;
}

.fun-item p{
    font-size: 14px;
    line-height: 25px;
}

#why{
    height: 580px;
    border-bottom: 1px solid gray;
 
}

#why h2{
    font-size: 30px;
    margin-top: 20px;
}

#why img{
    margin-top: 30px;
    width: 380px;
    height: 280px;
}

.us{
    height: 100px;
    font-size: 20px;
    margin-top: 10px;
    
}

.item{    
}

#why a{
}

#help{
    border-bottom: 1px solid gray;
    height: 580px;
}

#help h2{
    font-size: 30px;
}

.controls{

}

#help select{
    border-radius: 3px;
    background-color: white
}

#help form textarea{
    resize: none;
    border-radius: 3px;
}
#help .btn{
}

.btn-orange{
    color: #FFFFFF;
    background-color: #FF5500;
}

#history{
    border-bottom: 1px solid gray;
    height: 580px;
}

#history h2{
    font-size: 30px;
}

#history img{
}

#history p{
    font-size: 18px;
    line-height: 30px;
}

.columns{
    height: 580px;
}

.box-list{
}

.c-item{
}

.c-item ol{
}

.c-item ol li{
}

.c-item ol li a{
    text-decoration: none;
    color: black;
}