
nav{
    display: none;
    background: #DDDDDD;
    width: 20%;
}

nav p{
    margin-left: 15px;
    text-align: left;
}
nav input{
    width: 70%;
    margin: 15px;
}

.bar{
    margin-left: 10px;
}

.link{
    margin-top: 20px;
}

@media screen and (min-width: 481px){
    .conteiner{
        display: flex;
        flex-direction: row;
    }
    nav{
        display: block;
        flex: 1;
    }
    main{
        flex: 3;
    }
}

@media screen and (min-width: 1024px) {
    nav{
        display: block;
    }
}