.iconlist{
    position:absolute;
    height: 20px;
    right: 20px;
    top: 60px;
}

.icon{
    display: inline-block;
}

.icon i{
    color: black;
    width: 20px;
    margin-right: 10px;
}

nav{
    position: relative;
    float:left;
    width: 288px;
    height: 2230px;
    left: 1px;
    top: 4px;
    background: #DDDDDD;
}

nav input{
    position: absolute;
    width: 246px;
    height: 20px;
    left: 14px;
    top: 20px;
}

nav h2{
    position: absolute;
    top: 80px;
    margin-left: 10px;
    text-align: left;
}

.bar{
    position: absolute;
    display: inline-block;
    top: 90px;
    left: 5px;
    margin-left: 10px;
}

.link{
    position: relative;
    width: 254px;
    margin-top: 20px;
}